<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WebApp</title>
    <linkrel="stylesheet" href="/css/style.css"></linkrel>
    <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
</head>
<body>
    <a href="/">Главная</a>
    <a href="/registration">Регистрация</a>
    <a href="authorization">Авторизация</a>
    <a href="/todo">Список дел</a>
    <a href="/category">Категории</a>
    <br>
    <br>
    <h2>{% block header %}{% endblock header %}</h2>
    <p>{% block message %}{% endblock message %}</p>
    {% block content %}{% endblock content %}
</body>
</html>


<script>
    $(document).ready(function(){
        //Скрыть PopUp при загрузке страницы    
        PopUpHide();
    });
    //Функция отображения PopUp
    function PopUpShow(){
        $("#popup1").show();
    }
    //Функция скрытия PopUp
    function PopUpHide(){
        $("#popup1").hide();
    }
</script>