{% extends 'base.html' %}

{% block content %}
	<h2>Отредактируйте ваши категории</h2>
	<form action="" method="post">
	{% csrf_token %}
	<p>
		<label for="description">Введите категории</label>
		<input type="text" id="description" placeholder="Какого рода у вас дела?" name="name" required>
	</p>
		<p>
			<button name="Add" type="submit">Добавить категорию</button>
			<button name="Delete" formnovalidate="" type="submit">Удалить категорию</button>
		</p>

		{% for category in categories %}
			<p>
				<input type="checkbox" class="checkbox" name="check" value="{{category.id}}">
				<span class="complete-">{{ category.name }}</span>
			</p>
		{% endfor %}
	</form>
{% endblock content %}