{% extends "base.html" %}
{% block header %}Список дел{% endblock header %}

{% block content %}
	<form action="todoAdd" method="post">
        {% csrf_token %}
        <p>
			<label for="description">Введите дело</label>
        	<input type="text" id="description" placeholder="Чем собираетесь заняться?" name="description" required>
		</p>
		
		<p>
			<label for="content">Дополнительное поле</label>
        	<input type="text" id="content" placeholder="Дополнительное поле" name="content">
        </p>
		
		<p><label for="category">Категории</label>
			<select id="category" name="category_select" required>
				<option class="disabled" value="">Выберите категорию дела</option>
				{% for category in categories %}
					<option class="" value="{{ category.name }}" name="{{ category.name }}">
					{{ category.name }}
					</option>
				{% endfor %}
			</select>
		</p>
		<button type="submit">Добавить задание</button>
	</form>

	<form>
		{% csrf_token %}
		<p>
			<input type="submit" formmethod="post" formaction="/todoDelete" value="Удалить задание">
			<input type="submit" formmethod="post" formaction="/todoDone" value="Выполнено">
			<input type="submit" formmethod="post" formaction="/toEdit" value="Редактирование">
		</p>

		<table cols="2" frame="above">
			<tr>
				<td style="background-color: rgb(255, 223, 223);">
					<p style="margin-top: 10px; font-size: 19px; font-style: italic;">Список не выполненных дел:</p>
					{% for todo in todos %}
					<p>	
						<input type="checkbox" name="checkedbox" value="{{ todo.id }}">
						{{ todo.title }}
						{{ todo.content }}
						{{ todo.category.name }}
						{{ todo.created }}
						<!-- {{ todo.due_date }} -->
					</p>
					{% endfor %}
				</td>
					
				<td style="background-color: rgb(235, 255, 226);">
					<p style="margin-top: 10px; font-size: 19px; font-style: italic;">Список выполненных дел:</p>
					{% for todo in todo_done %}
					<p>
						<input type="checkbox" name="checkedbox" value="{{ todo.id }}">
						{{ todo.title }}
						{{ todo.content }}
						{{ todo.category.name }}
						{{ todo.created }}
						{{ todo.due_date }}
					</p>
					{% endfor %}
				</td>
			</tr>
		</table>
	</form>
{% endblock content %}

{% block message %}{{ message }}{% endblock message %}